<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Oliver Kamm 5BE Gallery - Exhibition - Amy Granat: Scratch Films / Stars Way Out ( for OK )</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<meta name="author" content="www.artcat.com" />
<meta name="description" content="" />
<meta name="keywords" content="" />
 <script type="text/javascript" src="../../static/client-js/common.js"></script>
<script type="text/javascript" src="../../static/client-js/qtobject.js"></script>
 <link rel="Stylesheet" rev="Stylesheet" type="text/css" href="../../static/client-css/o/oliverkamm.css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="../../static/rss/oliverkamm-rss2.xml" />
 </head>

<body>

<div id="Navigation"> 
  <div class="SiteName"><a href="../../home.html"><img class="logo" src="../../static/client-images/o/oliverkamm/logo70x42.jpg" alt="Oliver Kamm 5BE Gallery" width="70" height="42" /></a></div>
  <ul class="NavList">
  <li class="CurrentPosition">
   <a href="../index.html">Exhibitions</a>
    </li>
  <li>
   <a href="../../artist/index.html">Artists</a>
    </li>
  <li>
   <a href="../../news/index.html">News</a>
    </li>
  <li>
   <a href="../../press/index.html">Press</a>
    </li>
  <li>
   <a href="../../links/index.html">Links</a>
    </li>
  <li>
   <a href="../../about/index.html">About</a>
    </li>
  <li>
   <a href="../../contact/index.html">Contact</a>
    </li>
 </ul>
</div> <div id="Content">

<div id="SecondaryColumn"> 
<div class="exhibition-description"><p>These films are movies made after the destruction of the film itself&#8230; films made from the attack and scratch of their own emulsion. In nature we see it all around us&#8230;at the same time something is being created, something is being destroyed.</p>

<p>Georgia O&#8217;Keefe picking up bones and holding them up to the sun &#8211; I don&#8217;t see death, I see beauty.  I see black and white light/shadow.  Movies.  New York City as nature. Landscape as metaphor &#8211; these films were made in the desert.  Up to Utah.  Promontory.  Golden Spike.  Lucin &#8211; a town that wasn&#8217;t, then was, then wasn&#8217;t again.</p>

<p>These films&#8217; beginnings are taped to their ends.  &#8220;Death can really make you look like a star&#8221; ( Andy Warhol )  &#8216;Stars Way Out&#8217; was a closed down diner outside 29 Palms.</p>

<p>To all the guys I&#8217;ve loved before&#8230;<br />
Amy Granat<br />
1/2006</p></div> 

 <h2>Press</h2>
   <p class="press"><a href="../../static/dyn-files/0/854.pdf">Art Forum - Elizabeth Schambelan on Amy Granat</a></p>
     </div>

<div id="PrimaryColumn"> 

<h1><a href="530.html">Amy Granat: Scratch Films / Stars Way Out ( for OK )</a></h1>
<div class="exhibition-subtitle"></div>
<div class="exhibition-dates">February  9 - March 11, 2006</div>  <div class="exhibition-opening">Opens February  9  6:00 PM -  8:00 PM</div>   <h2>Installation Views</h2>

   <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/530/1.html"><img src="../../static/dyn-images/3/3016.thumb.jpeg" alt=""/></a></div>
  <p class="thumb-caption"></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/530/2.html"><img src="../../static/dyn-images/3/3017.thumb.jpeg" alt=""/></a></div>
  <p class="thumb-caption"></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/530/3.html"><img src="../../static/dyn-images/3/3018.thumb.jpeg" alt=""/></a></div>
  <p class="thumb-caption"></p>
</div>  <br class="clear" />

  </div> <!-- PrimaryColumn --> </div> <!-- id=Content -->

<div id="Credits"> 
  <div class="ArtCatCredit">
 Powered by <a href="http://hosting.artcat.com/">ArtCat</a>
 </div>
<div class="copyright">&copy; 2003-2013, Oliver Kamm/5BE</div> </div>

</body>
</html>