<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Oliver Kamm 5BE Gallery - Exhibition - Bricks In The Hood</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<meta name="author" content="www.artcat.com" />
<meta name="description" content="" />
<meta name="keywords" content="" />
 <script type="text/javascript" src="../../static/client-js/common.js"></script>
<script type="text/javascript" src="../../static/client-js/qtobject.js"></script>
 <link rel="Stylesheet" rev="Stylesheet" type="text/css" href="../../static/client-css/o/oliverkamm.css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="../../static/rss/oliverkamm-rss2.xml" />
 </head>

<body>

<div id="Navigation"> 
  <div class="SiteName"><a href="../../home.html"><img class="logo" src="../../static/client-images/o/oliverkamm/logo70x42.jpg" alt="Oliver Kamm 5BE Gallery" width="70" height="42" /></a></div>
  <ul class="NavList">
  <li class="CurrentPosition">
   <a href="../index.html">Exhibitions</a>
    </li>
  <li>
   <a href="../../artist/index.html">Artists</a>
    </li>
  <li>
   <a href="../../news/index.html">News</a>
    </li>
  <li>
   <a href="../../press/index.html">Press</a>
    </li>
  <li>
   <a href="../../links/index.html">Links</a>
    </li>
  <li>
   <a href="../../about/index.html">About</a>
    </li>
  <li>
   <a href="../../contact/index.html">Contact</a>
    </li>
 </ul>
</div> <div id="Content">

<div id="SecondaryColumn"> 
<div class="exhibition-description"></div> 

  </div>

<div id="PrimaryColumn"> 

<h1><a href="531.html">Bricks In The Hood</a></h1>
<div class="exhibition-subtitle"></div>
<div class="exhibition-dates">January 12 - February  4, 2006</div>  <div class="exhibition-opening">Opens January 12  6:00 PM -  8:00 PM</div>   <h2>Installation Views</h2>

   <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/531/1.html"><img src="../../static/dyn-images/3/3008.thumb.jpeg" alt="Entrance: Seonna Hong and Andrew Sexton"/></a></div>
  <p class="thumb-caption">Entrance: Seonna Hong and Andrew Sexton</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/531/2.html"><img src="../../static/dyn-images/3/3011.thumb.jpeg" alt="Front Room: Michael Rodriguez and Steven Walls"/></a></div>
  <p class="thumb-caption">Front Room: Michael Rodriguez and Steven Walls</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/531/3.html"><img src="../../static/dyn-images/3/3010.thumb.jpeg" alt="Back Room: Joe Ovelman and Tom Meacham"/></a></div>
  <p class="thumb-caption">Back Room: Joe Ovelman and Tom Meacham</p>
</div>  <br class="clear" />

  </div> <!-- PrimaryColumn --> </div> <!-- id=Content -->

<div id="Credits"> 
  <div class="ArtCatCredit">
 Powered by <a href="http://hosting.artcat.com/">ArtCat</a>
 </div>
<div class="copyright">&copy; 2003-2013, Oliver Kamm/5BE</div> </div>

</body>
</html>