<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Oliver Kamm 5BE Gallery - Exhibition - Justin Lowe: HELTER SWELTER</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<meta name="author" content="www.artcat.com" />
<meta name="description" content="" />
<meta name="keywords" content="" />
 <script type="text/javascript" src="../../static/client-js/common.js"></script>
<script type="text/javascript" src="../../static/client-js/qtobject.js"></script>
 <link rel="Stylesheet" rev="Stylesheet" type="text/css" href="../../static/client-css/o/oliverkamm.css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="../../static/rss/oliverkamm-rss2.xml" />
 </head>

<body>

<div id="Navigation"> 
  <div class="SiteName"><a href="../../home.html"><img class="logo" src="../../static/client-images/o/oliverkamm/logo70x42.jpg" alt="Oliver Kamm 5BE Gallery" width="70" height="42" /></a></div>
  <ul class="NavList">
  <li class="CurrentPosition">
   <a href="../index.html">Exhibitions</a>
    </li>
  <li>
   <a href="../../artist/index.html">Artists</a>
    </li>
  <li>
   <a href="../../news/index.html">News</a>
    </li>
  <li>
   <a href="../../press/index.html">Press</a>
    </li>
  <li>
   <a href="../../links/index.html">Links</a>
    </li>
  <li>
   <a href="../../about/index.html">About</a>
    </li>
  <li>
   <a href="../../contact/index.html">Contact</a>
    </li>
 </ul>
</div> <div id="Content">

<div id="SecondaryColumn"> 
<div class="exhibition-description"><p>For Immediate Release:</p>


<p>Justin Lowe<br />
<span class="caps">HELTER SWELTER</span><br />
June 1 &#8211; July 28, 2006</p>

<p>Opening Reception: June 1, 6-8pm</p>


<p>Oliver Kamm/5BE Gallery is pleased to announce Justin Lowe&#8217;s New York solo debut exhibition.  For this summer long exhibition, Lowe has reconstructed the architecture and environment of the gallery to bring the city indoors. </p>

<p>The exhibition consists of three site specific installations which recreate popular metropolitan, summer-time places of refuge, icons of annoyance, and backdrops for those heady moments that occur with more consistency as the city&#8217;s temperature rises.</p>

<p>The gallery&#8217;s entrance is transformed into a bodega-front, with its extreme color overload, blaring imported music and questionable refrigerators - a classic drug front.  At this point the gallery becomes a fa&ccedil;ade, and marks the beginning of more moments of disorientation and surprise as things aren&#8217;t quite what they seem.</p>

<p>A revolving door leads into a temporary sidewalk construction site, with its shoddy, warped wood and posters advertising concerts, festivals and movies that you would only pay to see in order to spend two hours in an air conditioned theatre.</p>

<p>Once outside the construction site an 18 Foot Kool Man Ice Cream Truck is revealed, a sweet haven on wheels, and another classic drug front, this time accompanied by a collaborative soundtrack.</p>



<p>Oliver Kamm/5BE Gallery is located at 621 West 27th Street, on the ground floor.  Gallery hours are Tuesday through Saturday from 11-6.  After July 4th we will be open Monday through Friday from 11-6.</p>

<p>For further information or images, please contact the gallery at 212-255-0979.</p></div> 

 <h2>Press</h2>
   <p class="press"><a href="../../static/dyn-files/1/1089.pdf">sculpture-Reviews-Justin Lowe</a></p>
   <p class="press"><a href="../../static/dyn-files/0/782.pdf">Flash Art - Reviews - Justin Lowe</a></p>
   <p class="press"><a href="../../static/dyn-files/0/564.pdf">The New York Times- Justin Lowe "Helter Swelter", 2006-07-07</a></p>
   <p class="press"><a href="../../static/dyn-files/0/574.pdf">The Village Voice-Justin Lowe: 'Helter Swelter", 2006-07-06</a></p>
   <p class="press"><a href="../../static/dyn-files/0/884.pdf">Time Out New York - Justin Lowe "Helter Swelter"</a></p>
   <p class="press"><a href="../../static/dyn-files/0/561.pdf">The Village Voice - Front Man, 2006-06-29</a></p>
     </div>

<div id="PrimaryColumn"> 

<h1><a href="540.html">Justin Lowe: HELTER SWELTER</a></h1>
<div class="exhibition-subtitle">HELTER SWELTER</div>
<div class="exhibition-dates">June  1 - July 28, 2006</div>   <h2>Installation Views</h2>

   <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/540/1.html"><img src="../../static/dyn-images/3/3415.thumb.jpeg" alt="Bodega/Entrance, View 1"/></a></div>
  <p class="thumb-caption">Bodega/Entrance, View 1</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/540/2.html"><img src="../../static/dyn-images/3/3414.thumb.jpeg" alt="Bodega/Entrance"/></a></div>
  <p class="thumb-caption">Bodega/Entrance</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/540/3.html"><img src="../../static/dyn-images/3/3416.thumb.jpeg" alt="Bodega/Reception"/></a></div>
  <p class="thumb-caption">Bodega/Reception</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/540/4.html"><img src="../../static/dyn-images/3/3417.thumb.jpeg" alt="Revolving Door"/></a></div>
  <p class="thumb-caption">Revolving Door</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/540/5.html"><img src="../../static/dyn-images/3/3418.thumb.jpeg" alt="Inside Truck/Construction Site"/></a></div>
  <p class="thumb-caption">Inside Truck/Construction Site</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/540/6.html"><img src="../../static/dyn-images/3/3419.thumb.jpeg" alt="Coyotes, detail"/></a></div>
  <p class="thumb-caption">Coyotes, detail</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/540/7.html"><img src="../../static/dyn-images/3/3420.thumb.jpeg" alt="Scaffolding, detail"/></a></div>
  <p class="thumb-caption">Scaffolding, detail</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/540/8.html"><img src="../../static/dyn-images/3/3421.thumb.jpeg" alt="Outside Truck"/></a></div>
  <p class="thumb-caption">Outside Truck</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/540/9.html"><img src="../../static/dyn-images/3/3422.thumb.jpeg" alt="Outside Truck"/></a></div>
  <p class="thumb-caption">Outside Truck</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/540/10.html"><img src="../../static/dyn-images/3/3425.thumb.jpeg" alt="Floor, detail"/></a></div>
  <p class="thumb-caption">Floor, detail</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/540/11.html"><img src="../../static/dyn-images/3/3423.thumb.jpeg" alt="Front of Ice Cream Truck"/></a></div>
  <p class="thumb-caption">Front of Ice Cream Truck</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/540/12.html"><img src="../../static/dyn-images/3/3424.thumb.jpeg" alt="Outside Ice Cream Truck"/></a></div>
  <p class="thumb-caption">Outside Ice Cream Truck</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/540/13.html"><img src="../../static/dyn-images/3/3299.thumb.jpeg" alt="Invitation Image/Collage"/></a></div>
  <p class="thumb-caption">Invitation Image/Collage</p>
</div>  <br class="clear" />

  </div> <!-- PrimaryColumn --> </div> <!-- id=Content -->

<div id="Credits"> 
  <div class="ArtCatCredit">
 Powered by <a href="http://hosting.artcat.com/">ArtCat</a>
 </div>
<div class="copyright">&copy; 2003-2013, Oliver Kamm/5BE</div> </div>

</body>
</html>