<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Oliver Kamm 5BE Gallery - Exhibition - Michael Rodriguez</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<meta name="author" content="www.artcat.com" />
<meta name="description" content="" />
<meta name="keywords" content="" />
 <script type="text/javascript" src="../../static/client-js/common.js"></script>
<script type="text/javascript" src="../../static/client-js/qtobject.js"></script>
 <link rel="Stylesheet" rev="Stylesheet" type="text/css" href="../../static/client-css/o/oliverkamm.css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="../../static/rss/oliverkamm-rss2.xml" />
 </head>

<body>

<div id="Navigation"> 
  <div class="SiteName"><a href="../../home.html"><img class="logo" src="../../static/client-images/o/oliverkamm/logo70x42.jpg" alt="Oliver Kamm 5BE Gallery" width="70" height="42" /></a></div>
  <ul class="NavList">
  <li class="CurrentPosition">
   <a href="../index.html">Exhibitions</a>
    </li>
  <li>
   <a href="../../artist/index.html">Artists</a>
    </li>
  <li>
   <a href="../../news/index.html">News</a>
    </li>
  <li>
   <a href="../../press/index.html">Press</a>
    </li>
  <li>
   <a href="../../links/index.html">Links</a>
    </li>
  <li>
   <a href="../../about/index.html">About</a>
    </li>
  <li>
   <a href="../../contact/index.html">Contact</a>
    </li>
 </ul>
</div> <div id="Content">

<div id="SecondaryColumn"> 
<div class="exhibition-description"><p>Michael Rodriguez</p>

<p>December 10 &#8211; January 15, 2005<br />
Opening Reception Friday, December 10, 6 &#8211; 8pm</p>

<p>Oliver Kamm/5BE Gallery is pleased to present recent works by New York based artist Michael Rodriguez.  </p>

<p>In his first solo exhibition with Oliver Kamm/5BE Gallery, Rodriguez expands upon his earlier work to create a series of abstract paintings and drawings that explore space, depth and texture through the use of various media.  In his own words;</p>

<p>&#8220;I am compressing together multiple modes of representation, from gestural abstraction to color field to pictorial spatial representation. The works are a distillation of my influences and desires, from my childhood craving for pop psychedelia and kitsch (black velvet and glitter) to the influence of Warhol, Reinhardt and Smithson and lately the figure ground equations of Pollock.  The question for me is, What kind of experience does one desire from art? Both the meaning and the process are open ended.&#8221;</p>

<p>Michael Rodriguez received his <span class="caps">MFA </span>from the Skowhegan School of Painting and Sculpture at Brooklyn College in 1992.  He was awarded a grant for painting from the Pollock-Krasner foundation in 2000 and received a fellowship for painting from the New York Foundation for the Arts in 2002.</p></div> 

 <h2>Press</h2>
   <p class="press"><a href="../../static/dyn-files/0/878.pdf">Time Out New York - In the Paint</a></p>
     </div>

<div id="PrimaryColumn"> 

<h1><a href="591.html">Michael Rodriguez</a></h1>
<div class="exhibition-subtitle"></div>
<div class="exhibition-dates">December 10, 2004 - January 15, 2005</div>  <div class="exhibition-opening">Opens December 10  6:00 PM -  8:00 PM</div>    </div> <!-- PrimaryColumn --> </div> <!-- id=Content -->

<div id="Credits"> 
  <div class="ArtCatCredit">
 Powered by <a href="http://hosting.artcat.com/">ArtCat</a>
 </div>
<div class="copyright">&copy; 2003-2013, Oliver Kamm/5BE</div> </div>

</body>
</html>