<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Oliver Kamm 5BE Gallery - Exhibition - Joe Ovelman: For Whites Only</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<meta name="author" content="www.artcat.com" />
<meta name="description" content="" />
<meta name="keywords" content="" />
 <script type="text/javascript" src="../../static/client-js/common.js"></script>
<script type="text/javascript" src="../../static/client-js/qtobject.js"></script>
 <link rel="Stylesheet" rev="Stylesheet" type="text/css" href="../../static/client-css/o/oliverkamm.css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="../../static/rss/oliverkamm-rss2.xml" />
 </head>

<body>

<div id="Navigation"> 
  <div class="SiteName"><a href="../../home.html"><img class="logo" src="../../static/client-images/o/oliverkamm/logo70x42.jpg" alt="Oliver Kamm 5BE Gallery" width="70" height="42" /></a></div>
  <ul class="NavList">
  <li class="CurrentPosition">
   <a href="../index.html">Exhibitions</a>
    </li>
  <li>
   <a href="../../artist/index.html">Artists</a>
    </li>
  <li>
   <a href="../../news/index.html">News</a>
    </li>
  <li>
   <a href="../../press/index.html">Press</a>
    </li>
  <li>
   <a href="../../links/index.html">Links</a>
    </li>
  <li>
   <a href="../../about/index.html">About</a>
    </li>
  <li>
   <a href="../../contact/index.html">Contact</a>
    </li>
 </ul>
</div> <div id="Content">

<div id="SecondaryColumn"> 
<div class="exhibition-description"><p>Oliver Kamm/5BE Gallery is pleased to announce Joe Ovelman&#8217;s second solo show with the gallery. &#8220;For Whites Only&#8221; is an investigation into race and culture in America. Ovelman confronts racism and questions identity.  </p>

<p>"For Whites Only" will feature Ovelman&#8217;s largest participatory project to date.  </p>

<p>"Rosa Parks 381" includes 381 Polaroids of the artist, taken and signed by 381 individuals who could self-identify as African-American.  The number in the title commemorates the number of days of the Montgomery Bus Boycott and is inspired by the James Baldwin quote, "I&#8217;ll be black for as long as you tell me that you are white".</p>

<p>"Regi", 2005 is a video in which the paid subject, chosen for his African decent, stands naked and confined to one end of a room for 8 hours, the length of a typical work day.  The video was shot in Porto Seguro, Brazil, a historic slave-trading port. </p>

<p>Also on view: &#8220;7 Gold Lynchings,&#8221; miniature, bound figures sculpted in wire; <br />
&#8220;Twelve Drawings,&#8221; anecdotes of racism from the artist&#8217;s life; and a compilation <span class="caps">CD, </span>&#8220;Nigga in the Title," featuring twenty-four songs whose titles include the word nigga.  <br />
Ovelman asks, out of 24 hours a day, 7 days a week, 12 months a year, when am I white?</p></div> 

 <h2>Press</h2>
   <p class="press"><a href="../../static/dyn-files/0/897.pdf">The New York Times- Art Review/Joe Ovelman "To Explore Race, Sometimes You Focus on the Explorer"</a></p>
     </div>

<div id="PrimaryColumn"> 

<h1><a href="760.html">Joe Ovelman: For Whites Only</a></h1>
<div class="exhibition-subtitle"></div>
<div class="exhibition-dates">January 12 - February 10, 2007</div>  <div class="exhibition-opening">Opens January 12  6:00 PM -  8:00 PM</div>   <h2>Installation Views</h2>

   <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/760/1.html"><img src="../../static/dyn-images/6/6003.thumb.jpeg" alt=""/></a></div>
  <p class="thumb-caption"></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/760/2.html"><img src="../../static/dyn-images/6/6067.thumb.jpeg" alt="Rosa Parks 381, 2007
381 Polaroids"/></a></div>
  <p class="thumb-caption">Rosa Parks 381, 2007
381 Polaroids</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/760/3.html"><img src="../../static/dyn-images/6/6073.thumb.jpeg" alt="Rosa Parks 381
Detail Shot"/></a></div>
  <p class="thumb-caption">Rosa Parks 381
Detail Shot</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/760/4.html"><img src="../../static/dyn-images/6/6074.thumb.jpeg" alt="Seven Gold Lynchings, 2006
Wire
Variable Dimensions"/></a></div>
  <p class="thumb-caption">Seven Gold Lynchings, 2006
Wire
Variable Dimensions</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/760/5.html"><img src="../../static/dyn-images/6/6112.thumb.jpeg" alt="Detail of Seven Gold Lynchings"/></a></div>
  <p class="thumb-caption">Detail of Seven Gold Lynchings</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/760/6.html"><img src="../../static/dyn-images/6/6113.thumb.jpeg" alt="Back Room
For Whites Only"/></a></div>
  <p class="thumb-caption">Back Room
For Whites Only</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/760/7.html"><img src="../../static/dyn-images/6/6114.thumb.jpeg" alt="Back Room - For Whites Only
Regi, 2005 and Head Phones playing 'nigga in the title&quot; CD"/></a></div>
  <p class="thumb-caption">Back Room - For Whites Only
Regi, 2005 and Head Phones playing 'nigga in the title" CD</p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/760/8.html"><img src="../../static/dyn-images/6/6119.thumb.jpeg" alt="Film Still:
Regi, 2005"/></a></div>
  <p class="thumb-caption">Film Still:
Regi, 2005</p>
</div>  <br class="clear" />

  </div> <!-- PrimaryColumn --> </div> <!-- id=Content -->

<div id="Credits"> 
  <div class="ArtCatCredit">
 Powered by <a href="http://hosting.artcat.com/">ArtCat</a>
 </div>
<div class="copyright">&copy; 2003-2013, Oliver Kamm/5BE</div> </div>

</body>
</html>