<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Oliver Kamm 5BE Gallery - Exhibition - Kamrooz Aram: Night Visions and Revolutionary Dreams</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<meta name="author" content="www.artcat.com" />
<meta name="description" content="" />
<meta name="keywords" content="" />
 <script type="text/javascript" src="../../static/client-js/common.js"></script>
<script type="text/javascript" src="../../static/client-js/qtobject.js"></script>
 <link rel="Stylesheet" rev="Stylesheet" type="text/css" href="../../static/client-css/o/oliverkamm.css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="../../static/rss/oliverkamm-rss2.xml" />
 </head>

<body>

<div id="Navigation"> 
  <div class="SiteName"><a href="../../home.html"><img class="logo" src="../../static/client-images/o/oliverkamm/logo70x42.jpg" alt="Oliver Kamm 5BE Gallery" width="70" height="42" /></a></div>
  <ul class="NavList">
  <li class="CurrentPosition">
   <a href="../index.html">Exhibitions</a>
    </li>
  <li>
   <a href="../../artist/index.html">Artists</a>
    </li>
  <li>
   <a href="../../news/index.html">News</a>
    </li>
  <li>
   <a href="../../press/index.html">Press</a>
    </li>
  <li>
   <a href="../../links/index.html">Links</a>
    </li>
  <li>
   <a href="../../about/index.html">About</a>
    </li>
  <li>
   <a href="../../contact/index.html">Contact</a>
    </li>
 </ul>
</div> <div id="Content">

<div id="SecondaryColumn"> 
<div class="exhibition-description"><h2>Kamrooz Aram<br />
Night Visions and Revolutionary Dreams</h2>

<p>February 16 &#8211; March 17, 2007<br />
Opening Reception, Friday February 16, 6-8pm</p>


<p>Oliver Kamm/5BE Gallery is pleased to announce Kamrooz Aram&#8217;s second solo exhibition at the gallery, Night Visions and Revolutionary Dreams.</p>

<p>The exhibition title evokes two themes that Aram has been exploring in recent work.  Night Visions refers to military night vision - the grainy, high-contrast, green images of war found in the media; as well as biblical night visions - the hallucinatory dreams often involving some kind of revelation.  Revolutionary Dreams is the title for a series of drawings that explore the romanticization of revolutionary ideologies.  </p>

<p>In the paintings, Aram continues his investigation of warfare and mysticism, violence and the sublime.  Aram also explores the idea of nationalism and the way that icons and mythologies are used to romanticize politics and culture.  He challenges the viewer with nationalistic symbols such as the hawk, a circle of stars, a flag, as well as religious symbols such as angels and mystical bursts of light, which double as explosions.  Combined these images lose their meanings to a carnivalesque narrative where the viewer is left to sort through a hallucination somewhere between destruction and celebration.</p>

<p>The drawings in the exhibition come from the series Revolutionary Dreams, which takes its title from a song by Reggae musician Pablo Moses.  The Rastafarian singer recollects a dream of a romanticized revolutionary battle.  Aram finds the song striking because, &#8220;it exemplifies the utter idealization of violence by someone who is not actively engaged with violence.&#8221;  This series includes drawings of mullah&#8217;s facing black nationalists in which the afro comically mimics the turban, formally connecting the two while bringing together the two revolutionary ideals.  Often fueled by very different understandings of Islamic ideology, both champion the cause of the marginalized and the oppressed.  The drawings attempt to mimic the flawless craft of traditional art forms and always come short of perfection, but not without making a spectacle.  Likewise, the figures depicted in the drawings often come short of achieving their revolutionary dreams.</p>

<p>Kamrooz Aram was born in Shiraz, Iran in 1978 and received his <span class="caps">MFA </span>from Columbia University in 2003.  He currently lives and works in Brooklyn.  He has had past solo exhibitions at MassMoCA, North Adams, MA; Wilkinson Gallery, London; and Oliver Kamm/5BE Gallery, New York.  He has been included in various group exhibitions internationally including the Busan Biennale 2006, Greater New York 2005, and Prague Biennale I 2003.  </p>


<p>Oliver Kamm/5BE Gallery is located at 621 West 27th Street, on the ground floor.  Gallery hours are Tuesday through Saturday from 11am &#8211; 6pm.</p>

<p>For further information or images, please contact the gallery at 212-255-0979 or visit our website at www.oliverkamm.com.</p></div> 

 <h2>Press</h2>
   <p class="press"><a href="../../static/dyn-files/1/1109.pdf">Art Asia Pacific - Projects in the making...Kamrooz Aram: Trial by Fire</a></p>
   <p class="press"><a href="../../static/dyn-files/0/945.pdf">The Village Voice - Best in Show - Kamrooz Aram</a></p>
   <p class="press"><a href="../../static/dyn-files/0/853.pdf">Bidoun-Arts & Culture from the Middle East, Winter 2007: Previews</a></p>
     </div>

<div id="PrimaryColumn"> 

<h1><a href="823.html">Kamrooz Aram: Night Visions and Revolutionary Dreams</a></h1>
<div class="exhibition-subtitle"></div>
<div class="exhibition-dates">February 16 - March 17, 2007</div>  <div class="exhibition-opening">Opens February 16  6:00 PM -  8:00 PM</div>   <h2>Installation Views</h2>

   <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/823/1.html"><img src="../../static/dyn-images/6/6577.thumb.jpeg" alt=""/></a></div>
  <p class="thumb-caption"></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/823/2.html"><img src="../../static/dyn-images/6/6578.thumb.jpeg" alt=""/></a></div>
  <p class="thumb-caption"></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/823/3.html"><img src="../../static/dyn-images/6/6579.thumb.jpeg" alt=""/></a></div>
  <p class="thumb-caption"></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../imageview/823/4.html"><img src="../../static/dyn-images/6/6576.thumb.jpeg" alt=""/></a></div>
  <p class="thumb-caption"></p>
</div>  <br class="clear" />

  <h2>Works</h2>

  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/823/2274.html"><img src="../../static/dyn-images/7/7254.thumb.jpeg" alt="Mystical Visions Undetected by Night Vision Strengthen the Faith of the Believers and Make their Enemies Scatter"/></a></div>
  <p class="thumb-caption"> Kamrooz Aram, <em>Mystical Visions Undetected by Night Vision Strengthen the Faith of the Believers and Make their Enemies Scatter</em>, 2007 </p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/823/2275.html"><img src="../../static/dyn-images/7/7249.thumb.jpeg" alt="Cryptic Summit"/></a></div>
  <p class="thumb-caption"> Kamrooz Aram, <em>Cryptic Summit</em>, 2007 </p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/823/2277.html"><img src="../../static/dyn-images/6/6301.thumb.jpeg" alt="Blazing Glory"/></a></div>
  <p class="thumb-caption"> Kamrooz Aram, <em>Blazing Glory</em>, 2007 </p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/823/2276.html"><img src="../../static/dyn-images/6/6600.thumb.jpeg" alt="Invisible Eminence"/></a></div>
  <p class="thumb-caption"> Kamrooz Aram, <em>Invisible Eminence</em>, 2007 </p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/823/2273.html"><img src="../../static/dyn-images/7/7252.thumb.jpeg" alt="Phosphorus Visions"/></a></div>
  <p class="thumb-caption"> Kamrooz Aram, <em>Phosphorus Visions</em>, 2007 </p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/823/2286.html"><img src="../../static/dyn-images/6/6309.thumb.jpeg" alt="From the Series Revolutionary Dreams"/></a></div>
  <p class="thumb-caption"> Kamrooz Aram, <em>From the Series Revolutionary Dreams</em>, 2007 </p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/823/2285.html"><img src="../../static/dyn-images/6/6308.thumb.jpeg" alt="From the Series Mystical Visions and Cosmic Vibrations to the Series Revolutionary Dreams"/></a></div>
  <p class="thumb-caption"> Kamrooz Aram, <em>From the Series Mystical Visions and Cosmic Vibrations to the Series Revolutionary Dreams</em>, 2007 </p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/823/2279.html"><img src="../../static/dyn-images/6/6303.thumb.jpeg" alt="From the Series Revolutionary Dreams (Rob Williams)"/></a></div>
  <p class="thumb-caption"> Kamrooz Aram, <em>From the Series Revolutionary Dreams (Rob Williams)</em>, 2007 </p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/823/2280.html"><img src="../../static/dyn-images/6/6304.thumb.jpeg" alt="From the Series Revolutionary Dreams (Hanoi Jane)"/></a></div>
  <p class="thumb-caption"> Kamrooz Aram, <em>From the Series Revolutionary Dreams (Hanoi Jane)</em>, 2007 </p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/823/2281.html"><img src="../../static/dyn-images/6/6305.thumb.jpeg" alt="From the Series Revolutionary Dreams"/></a></div>
  <p class="thumb-caption"> Kamrooz Aram, <em>From the Series Revolutionary Dreams</em>, 2007 </p>
</div>   </div> <!-- PrimaryColumn --> </div> <!-- id=Content -->

<div id="Credits"> 
  <div class="ArtCatCredit">
 Powered by <a href="http://hosting.artcat.com/">ArtCat</a>
 </div>
<div class="copyright">&copy; 2003-2013, Oliver Kamm/5BE</div> </div>

</body>
</html>