<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Oliver Kamm 5BE Gallery - Exhibition - Seonna Hong: Our Endless Numbered Days</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<meta name="author" content="www.artcat.com" />
<meta name="description" content="" />
<meta name="keywords" content="" />
 <script type="text/javascript" src="../../static/client-js/common.js"></script>
<script type="text/javascript" src="../../static/client-js/qtobject.js"></script>
 <link rel="Stylesheet" rev="Stylesheet" type="text/css" href="../../static/client-css/o/oliverkamm.css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="../../static/rss/oliverkamm-rss2.xml" />
 </head>

<body>

<div id="Navigation"> 
  <div class="SiteName"><a href="../../home.html"><img class="logo" src="../../static/client-images/o/oliverkamm/logo70x42.jpg" alt="Oliver Kamm 5BE Gallery" width="70" height="42" /></a></div>
  <ul class="NavList">
  <li class="CurrentPosition">
   <a href="../index.html">Exhibitions</a>
    </li>
  <li>
   <a href="../../artist/index.html">Artists</a>
    </li>
  <li>
   <a href="../../news/index.html">News</a>
    </li>
  <li>
   <a href="../../press/index.html">Press</a>
    </li>
  <li>
   <a href="../../links/index.html">Links</a>
    </li>
  <li>
   <a href="../../about/index.html">About</a>
    </li>
  <li>
   <a href="../../contact/index.html">Contact</a>
    </li>
 </ul>
</div> <div id="Content">

<div id="SecondaryColumn"> 
<div class="exhibition-description"><p>We are pleased to announce Seonna Hong&#8217;s second solo show with Oliver Kamm/5BE Gallery.</p>

<p>&#8220;Our Endless Numbered Days&#8221; is a darker, more introspective step into the world of a girl where ominous black birds, bears and horses loom and languish as harbingers of some kind of doom.  These silhouettes, outlines of our actual selves, cause tumult and discomposure in the mind of the protagonist.  But it may be that this chaos is the appropriate provocation for change, forward momentum, and even hope.</p>

<p>Working on canvas, Hong continues to use a flat painterly style.  Large areas of negative space, left raw and unfinished, push up against smaller moments of obsession represented in the details of embroidery.  Cut pieces of canvas add to the texture and feeling of these pieces, creating subtle dimension and depth.</p>

<p>In a series of smaller untitled paintings, Hong uses more abstract imagery &#8211; a shadowy representation of transition and movement.</p>

<p>Hong was a recipient of a 2006 Joan Mitchell Foundation Award, and opened her first solo museum show as a part of the &#8220;Suburban&#8221; series at the Knoxville Museum of Art.</p>

<p>We are also pleased to announce that Seonna Hong will show with Kaikai Kiki Co., Ltd. in Japan in 2008.  Founded by Takashi Murakami in 2001, Kaikai Kiki is a multilateral art enterprise.  Its goals include the production and promotion of fine art, as well as the management and support of select young artists, and the organization of art-related events and projects.  This will mark Kaikai Kiki&#39;s first exhibition with a US based artist in Japan.</p>

<p>Oliver Kamm/5BE Gallery is located at 621 West 27th Street on the ground floor. Gallery hours are Tuesday through Saturday from11-6.<br />
For further information or images please contact the gallery at 212-255-0979 or visit our website at www.oliverkamm.com.</p></div> 

  </div>

<div id="PrimaryColumn"> 

<h1><a href="868.html">Seonna Hong: Our Endless Numbered Days</a></h1>
<div class="exhibition-subtitle"></div>
<div class="exhibition-dates">April 27 - May 26, 2007</div>  <div class="exhibition-opening">Opens April 27  6:00 PM -  8:00 PM</div>    <h2>Works</h2>

  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2272.html"><img src="../../static/dyn-images/6/6293.thumb.jpeg" alt="Retreat"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2272.html"> Seonna Hong, <em>Retreat</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2257.html"><img src="../../static/dyn-images/6/6278.thumb.jpeg" alt="A Bear of a Bear"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2257.html"> Seonna Hong, <em>A Bear of a Bear</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2261.html"><img src="../../static/dyn-images/6/6282.thumb.jpeg" alt="If a Tree Falls in the Forest"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2261.html"> Seonna Hong, <em>If a Tree Falls in the Forest</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2263.html"><img src="../../static/dyn-images/6/6284.thumb.jpeg" alt="This Weight is a Gift"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2263.html"> Seonna Hong, <em>This Weight is a Gift</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2259.html"><img src="../../static/dyn-images/6/6280.thumb.jpeg" alt="Birds of a Feather"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2259.html"> Seonna Hong, <em>Birds of a Feather</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2258.html"><img src="../../static/dyn-images/6/6279.thumb.jpeg" alt="My Little Patch of Sun"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2258.html"> Seonna Hong, <em>My Little Patch of Sun</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2265.html"><img src="../../static/dyn-images/6/6286.thumb.jpeg" alt="Self Defeating"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2265.html"> Seonna Hong, <em>Self Defeating</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2264.html"><img src="../../static/dyn-images/6/6285.thumb.jpeg" alt="This Bear"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2264.html"> Seonna Hong, <em>This Bear</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2262.html"><img src="../../static/dyn-images/6/6283.thumb.jpeg" alt="Let it Be"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2262.html"> Seonna Hong, <em>Let it Be</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2266.html"><img src="../../static/dyn-images/6/6287.thumb.jpeg" alt="Twilight Flight"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2266.html"> Seonna Hong, <em>Twilight Flight</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2256.html"><img src="../../static/dyn-images/6/6277.thumb.jpeg" alt="Salvagers"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2256.html"> Seonna Hong, <em>Salvagers</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2253.html"><img src="../../static/dyn-images/6/6274.thumb.jpeg" alt="As We Become Silhouettes of Ourselves"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2253.html"> Seonna Hong, <em>As We Become Silhouettes of Ourselves</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2260.html"><img src="../../static/dyn-images/6/6281.thumb.jpeg" alt="If It's Not With You"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2260.html"> Seonna Hong, <em>If It's Not With You</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2254.html"><img src="../../static/dyn-images/6/6275.thumb.jpeg" alt="End of September"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2254.html"> Seonna Hong, <em>End of September</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2255.html"><img src="../../static/dyn-images/6/6276.thumb.jpeg" alt="Ghosts"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2255.html"> Seonna Hong, <em>Ghosts</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2267.html"><img src="../../static/dyn-images/6/6288.thumb.jpeg" alt="Untitled 2"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2267.html"> Seonna Hong, <em>Untitled 2</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2268.html"><img src="../../static/dyn-images/6/6289.thumb.jpeg" alt="Untitled 3"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2268.html"> Seonna Hong, <em>Untitled 3</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2269.html"><img src="../../static/dyn-images/6/6290.thumb.jpeg" alt="Untitled 4"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2269.html"> Seonna Hong, <em>Untitled 4</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2270.html"><img src="../../static/dyn-images/6/6291.thumb.jpeg" alt="Untitled 5"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2270.html"> Seonna Hong, <em>Untitled 5</em>, 2006 </a></p>
</div>  <div class="thumb-float">
  <div class="thumb-img"><a href="../workview/868/2271.html"><img src="../../static/dyn-images/6/6292.thumb.jpeg" alt="Untitled 6"/></a></div>
  <p class="thumb-caption"><a href="../workview/868/2271.html"> Seonna Hong, <em>Untitled 6</em>, 2006 </a></p>
</div>   </div> <!-- PrimaryColumn --> </div> <!-- id=Content -->

<div id="Credits"> 
  <div class="ArtCatCredit">
 Powered by <a href="http://hosting.artcat.com/">ArtCat</a>
 </div>
<div class="copyright">&copy; 2003-2013, Oliver Kamm/5BE</div> </div>

</body>
</html>